<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265079410653-gig5eb2q4v8ucjcvicuu4r75m48sk10g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265079410653-gig5eb2q4v8ucjcvicuu4r75m48sk10g</string>
	<key>API_KEY</key>
	<string>AIzaSyBEG9FRdBZupYN4Rv5OHMA5Xft1XAhDcTw</string>
	<key>GCM_SENDER_ID</key>
	<string>265079410653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jompyjomp.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c4b9c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c4b9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265079410653:ios:7aa77d9a751315e4307034</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-c4b9c.firebaseio.com</string>
</dict>
</plist>